__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 虚拟环境
venv/
.env/
.env.*
.env

# 构建产物
build/
dist/
*.egg-info/

# 运行期项目/资产
benort/projects/
benort/attachments_store/
benort/resources_store/
temps/
flask.log
flask.pid
flask.log.*

# 编辑器/系统文件
.DS_Store
.idea/
.vscode/
